PORT=3000
REDIS_URL=redis://localhost:6379

TUYA_ACCESS_ID=your_tuya_access_id
TUYA_ACCESS_KEY=your_tuya_access_key
# Available regions: cn, us, us-e, eu, eu-w, in, sg
TUYA_REGION=eu

GEMINI_API_KEY=your_gemini_api_key
GROQ_API_KEY=your_groq_api_key

GEMINI_MODEL=gemini-2.5-pro
GROQ_MODEL=llama3-70b-8192
